@import "act-activity.css";
@import "act-tab.css";
@import "act-cont.css";
@import "dropdown.css";
@import "attend.css";
@import "challenge.css";
@import "cmd-tog.css";
@import "chall-enroll.css";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
#act-bg {
  width: 100vw;
  height: 200%;
  position: absolute;
  top: 0;
  z-index: -999;
}
