{% include "base.html" %} {% load static %}
<div class="project-create__content">
    <div class="login-content__img">
        <img style="width: 100%; height: 900px" src="{% static 'img/create-img.jpg' %}" alt="" />
    </div>
    <div class="project-create__section">
        <div class="project-create__title">Create Project</div>
        {% block search-bar %} {% endblock search-bar %} {% block content %} {% include 'mixins/project/project_form.html' with form=form cta="Create project" %}
    </div>
    {% endblock content %}
</div>