 {% load static %}
<img style="position: absolute; top: 0; left: 0; width: 100%; height: 130%; z-index: -999;" src="{% static 'img/triangle-project.png' %}"> {% include 'base.html' %}
<main>
    <ul class="project-menu">
        <li class="project-menu__list is_on">
            <a class="project-menu__btn" href="#">
                <img style="width: 50px; height: 50px;" src="{% static 'img/Time.png' %}" alt="">
                <span>최신</span>
            </a>
            <div id="project1" id="activity" class="project-menu__cont">

                <div class="project-cardlist">
                    {% for project in projects.object_list %}
                    <div class="project-cardlist__card">
                        <div>
                            <img style="width: 360px; height: 240px; background-size: cover; background-position: center;" src="{{project.get_photo_url}}"></img>
                        </div>
                        <div class="project-cardlist__text">
                            <div class="home-cardlist__subtext">
                                <h1>{{project.title | truncatechars:7}}</h1>
                                <h3>{{project.desc | truncatechars:30}}</h3>

                            </div>
                            <div class="project-cardlist__user">
                                <span>{{project.user}}</span>
                                <button>자세히보기</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </li>
        <li class="project-menu__list ">
            <a class="project-menu__btn" href="#">
                <img src="{% static 'img/Vector.png' %}" alt="">
                <span>인기</span>
            </a>
            <div class="project-cardlist">
                {% for project in projects.object_list %}
                <div class="project-cardlist__card">
                    <div>
                        <img style="width: 360px; height: 240px; background-size: cover; background-position: center;" src="{{project.get_photo_url}}"></img>
                    </div>
                    <div class="project-cardlist__text">
                        <div class="home-cardlist__subtext">
                            <h1>{{project.title | truncatechars:7}}</h1>
                            <h3>{{project.desc | truncatechars:30}}</h3>

                        </div>
                        <div class="project-cardlist__user">
                            <span>{{project.user}}</span>
                            <button>자세히보기</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </li>

    </ul>
</main>
</div>
<script type="text/javascript" src="{% static 'js/project-tab.js' %}"></script>
</img>