<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/components/status-bar.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/components/nav.css' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="footer">
      <div class="footer__img">
        <img src="../../static/img/eniac-logo-db.png" alt="" />
      </div>
      <div class="footer__text">
        <div class="footer__per">
          <div>22기 에니악 임원진</div>
          <span
            >회장 이주현 | 학술 황예지 성제민 | 총무 이상희 | 기획 윤동규</span
          >
        </div>
        <!-- <div class="footer__link">
          <a>GitHub</a> | <a>KaKaoTalk</a> | <a>Facebook</a>
        </div> -->
      </div>
    </div>

    <script
      type="text/javascript"
      src="{% static 'js/header-tab.js' %}"
    ></script>
    <script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
