<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/status-bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/nav.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="status-bar">
        <div class="status-bar__column">
            <a href="{% url 'core:project' %}">
                <img src="{% static 'img/logo_home.png' %}" alt="My image"></img>
            </a>
        </div>

        <div class="status-bar__column">

            <div class="status-bar__list">
                <a class="status-bar__button ">
                    <a href="{% url 'core:notice_list' %}">공지사항</a></a>
                <span class="status-bar__circle "></span>
            </div>
            <div class="status-bar__list">
                <a class="status-bar__button">
                    <a href="{% url 'core:project_list' %}">프로젝트</a></a>
                <span class="status-bar__circle "></span>
            </div>
            <div class="status-bar__list">
                <a class="status-bar__button">
                    <a href="{% url 'core:activity_list' %}">활동</a></a>
                <span class="status-bar__circle "></span>
            </div>

            {% if user.is_authenticated %}
            <div class="status-bar__profile">
                <div class="status-bar__i">

                    <i class="fas fa-user-circle fa-2x"></i>
                    <i style="margin-left: 5px;" class="fas fa-chevron-down"></i>

                </div>
                <span class="stauts-bar__profile-menu">
              
                    <div class="status-bar__single-menu" >
                        <a href="{{user.get_absolute_url}}">프로필</a>
                    </div>
                 <a href="{% url 'project:create' %}">
                    <div class="status-bar__single-menu" >프로젝트 생성</div>
                      </a>
                 <a href="{% url 'user:logout' %}">
                    <div class="status-bar__single-menu" >로그아웃</div>
                </a>
                </span>
            </div>
            {% else %}
            <div class="status-bar__signup">

                <a style="text-decoration: none; color: white;" href="{% url 'user:login' %}">Log in </a>
            </div>
            {% endif %}

            <span class="status-bar__icon">

                <i class="fas fa-bars fa-lg"></i>
            </span>

        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/header-tog.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/header-tab.js' %}"></script>

    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
</body>

</html>