@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@100&display=swap");
#password-find-page {
    margin-top: 150px;
    height: 100%;
    min-height: 100% !important;
    background: linear-gradient(180deg, #fef6b2 0%, #fffce3 80%);
}

.password-find {
    background-color: #ffffff;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    width: 470px;
    height: 400px;
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-find-content__form {
    text-align: center;
}

.password-find-reset {
    background-color: #ffffff;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    width: 470px;
    height: 400px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-find__title {
    font-family: DM Serif Display;
    font-style: normal;
    font-size: 40px;
    line-height: 90px;
    letter-spacing: 0.3px;
    margin-top: -10px;
}

.password-find__form ul {
    display: none;
}

.password-find-content__form form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-find__btn,
.password-find-content__form input {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    transition: all 0.17s ease-in;
    padding: 10px;
    background-color: #fafafa;
}

.password-find-content__form input:hover {
    border-color: #ffbb00;
}

.password-find-content__form input:focus {
    border-color: #ffbb00;
    outline: none;
    box-shadow: 0px 0px 1px 4px#ffedbc;
}

.password-find__btn {
    cursor: pointer;
    border: none;
    background-color: #ffd52f;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.password-find__btn:hover {
    background-color: #ffbb00;
}

.password-find-content__signin {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.password-find-content__signin a {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}

.password-find-content__form p {
    opacity: 0.6;
    line-height: 30px;
}

@media screen and (max-width: 1000px) {
    .password-find {
        width: 400px;
    }
}