#profile-page {
  margin-top: 210px;
  min-height: 130vh;
}

.profile {
  width: 800px;
  height: 420px;
  margin: auto;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}
.profile > img {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-70px);
  width: 140px;
  height: 140px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  background-color: #e6ecff;
  border-radius: 50%;
}
.profile__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.profile-left {
  margin-top: 70px;
  width: 50%;
  height: 80%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.profile-right {
  margin-top: 70px;
  height: 80%;
  width: 50%;
}
.profile__info {
  margin-left: 100px;
  height: 50px;
}
.profile__info > span {
  padding: 0px 20px 5px 10px;
  margin-left: 5px;
}
.profile__info-long {
  height: 100px;
}
.profile__info-long:nth-child(3) {
  margin-top: 10px;
}
.profile__info-long span {
  line-height: 30px;
}

.profile__btn {
  margin-top: 20px;
  margin-left: 160px;
}
.profile__btn > button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #2ecc71;
  border-radius: 5px;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
}
.profile__btn > button:hover {
  background-color: #22a558;
}
.profile__password {
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .profile {
    width: 400px;
    height: 800px;
  }
  .profile > img {
    width: 120px;
    height: 120px;
    top: 140px;
    transform: translateX(-60px);
  }
  .profile__content {
    flex-direction: column;
    align-items: center;
  }
  .profile-left {
    width: 55%;
    margin-top: 90px;
    border: none;
    height: 30%;
  }
  .profile-right {
    width: 55%;
  }
  .profile__info {
    margin: 0;
    font-size: 15px;
  }
  .profile__btn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    margin-left: 0;
  }
  .profile__btn > button {
    font-size: 12px;
    width: 140px;
    height: 50px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: 350px;
    height: 800px;
  }
  .profile__info {
    margin: 0;
    font-size: 13px;
  }
  .profile__btn > button {
    font-size: 12px;
  }
}
