#signup-page {
  margin-top: 200px;
  background: linear-gradient(180deg, #fef6b2 0%, #fffce3 80%);
  min-height: 100% !important;
}

.signup__form {
  background-color: #ffffff;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  width: 470px;
  height: 1200px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__form form {
  width: 100%;
}

.signup__input {
  width: 60%;
  margin: auto;
}
.signup__btn,
.signup__input input {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  transition: all 0.17s ease-in;
  padding: 10px;
  background-color: #fafafa;
}

.signup__input input:hover {
  border-color: #ffbb00;
}

.signup__input input:focus {
  border-color: #ffbb00;
  outline: none;
  box-shadow: 0px 0px 1px 4px#ffedbc;
}

.signup__btn {
  cursor: pointer;
  border: none;
  background-color: #ffd52f;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}
.signup__btn:hover {
  background-color: #ffbb00;
}

.signup__input p {
  display: flex;
  flex-direction: column;
}
.signup__input p label {
  margin-bottom: 7px;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .signup__form {
    width: 400px;
  }
}
