<head>
    <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
    <link rel="stylesheet" href="../../static/css/components/create-page.css" />
    <link rel="stylesheet" href="../../static/css/components/button.css" />
    <link rel="stylesheet" href="../../static/css/users/password-find.css" />
</head>
{% include "base.html" %}

<body id="password-find-page">
    <div class="password-find-reset">
        <div class="password-find-content__form">
            <h1 class="password-find__title">Set a new password</h1>
            <form method="POST" class="password-find__form">
                {% csrf_token %} {{ form.as_p }}
                <input type="submit" value="Change my password" />
            </form>
        </div>
    </div>
</body>