<head>
  <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
  <link rel="stylesheet" href="../../static/css/components/create-page.css" />
  <link rel="stylesheet" href="../../static/css/components/button.css" />
  <link rel="stylesheet" href="../../static/css/users/password-find.css" />
</head>
<body id="password-find-page">
  <div class="password-find">
    <div class="password-find-content__form">
      <h1 class="password-find__title">Find password</h1>
      <p>
        입력하신 메일로<br />
        비밀번호 변경 페이지 링크를 보냈습니다.
      </p>
      <button class="password-find__btn" type="submit">확인</button>
    </div>
  </div>
</body>
