.activity-cont {
    width: 100%;
    margin-bottom: 50px;
}

.activity-cont:hover {
    cursor: pointer;
    background-color: #f7f2e4;
}

.activity-main__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    min-height: 1000px;
}

.activity-main {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.activity {
    position: relative;
    min-height: 130%;
}

.activity__cont-wrap {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.activity__img {
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.activity__content {
    text-align: left;
    line-height: 30px;
}

.activity__comment-tog {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.activity__comment {
    display: none;
    padding: 0;
}

.activity__comment.show {
    display: block;
}

.activity__comment.show {
    display: block;
}

ul,
li {
    list-style: none;
}

.activity__comment-list {
    text-align: left;
    margin-bottom: 15px;
}

.activity__comment-name {
    border-right: 1px solid rgba(1, 1, 1, 0.3);
    padding-right: 10px;
    margin-right: 5px;
}

.activity__comment-input {
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.activity__comment-input input {
    width: 93%;
    border: none;
    padding-left: 10px;
}

.activity__comment-input input:focus {
    outline: none;
}

.activity__comment-input button {
    width: 7%;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
}

@media screen and (max-width: 1100px) {
    .activity-main {
        width: 80%;
    }
    .activity__comment-input input {
        width: 87%;
    }
    .activity__comment-input button {
        width: 13%;
    }
}