@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
.body {}

.home-topbox {
    position: relative;
    height: 100%;
}

.home-topbox__triangle {
    width: 100%;
    height: 100%;
    border-top: 30px solid transparent;
    border-right: 30px solid red;
    z-index: -999;
    background: #f7f4fd;
}

.home-wotd {
    margin-bottom: 60px;
    height: 590px;
    background: linear-gradient(180deg, #fef6b2 0%, #fffce3 100%);
}

.home-wotd__inside {
    width: 50%;
    margin-left: 6%;
}

.home-wotd__wrapper {
    width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.home-wotd__inside div:first-child {
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 68px;
    /* or 103% */
    letter-spacing: 0.01em;
    color: #20202b;
    margin-bottom: 10px;
}

.home-wotd__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 30px 0;
    width: 208px;
    height: 45px;
    background-color: #131255;
    color: white;
}

.home-wotd__photoside {
    align-items: center;
}

.home-wotd__developer {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
    .home-wotd__wrapper {
        width: 900px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .home-wotd__inside {
        width: 50%;
        margin-left: 6%;
        margin-right: 120px;
    }
}