<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="../../css/components/footer.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="footer">
    <div class="footer__img">
      <img src="../../assets/img/eniac-logo-white.png" alt="" />
    </div>
    <div class="footer__text">
      <div class="footer__per">
        <div>FrontEnd Developer: 이상희</div>
        <span>Copyright © ENIAC. All Rights Reserved.</span>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/header-tab.js"></script>
  <script
    src="https://kit.fontawesome.com/6478f529f2.js"
    crossorigin="anonymous"
  ></script>
</body>
