/* project Tab관련 CSS코드 */

#project-page {
    margin-top: 250px;
}

a {
    text-decoration: none;
}

#tab1 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li.is__on {
    margin-left: 20px;
}

.is__on a {
    display: flex;
    align-items: center;
}

.tab_menu .list {
    overflow: hidden;
}

.project-menu {
    list-style: none;
    position: relative;
    display: flex;
    width: 100%;
}

.project-menu__cont {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
}

.project-menu__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 10px;
    opacity: 0.4;
}

.is_on>.project-menu__btn {
    opacity: 1;
}

.project-menu__btn span {
    display: inline-block;
    width: 60px;
    font-size: 20px;
}

.project-menu__btn svg {
    width: 30px;
}

.project-menu__list:first-child {
    margin-left: 71%;
}

.project-menu__list {
    margin-left: 5px;
}

.project-menu__cont {
    width: 100%;
}

.is_on .project-menu__cont {
    display: block;
}

.project__pageparent {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .project-menu__list:first-child {
        margin-left: 60%;
    }
}

@media screen and (max-width: 700px) {
    .project-menu__list:first-child {
        margin-left: 50%;
    }
}

@media screen and (max-width: 500px) {
    .project-menu__list:first-child {
        margin-left: 35%;
    }
}

@media screen and (max-width: 400px) {
    .project-menu__list:first-child {
        margin-left: 25%;
    }
}


/* 밑에는 무슨 코드지? - html에는 없음 근데 적용은 됨 */

.project-content__list {
    list-style-type: none;
    display: flex;
}

.project-content__tabs {
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
}

.project-content__a span {
    margin-left: 6px;
}

.project-content__underline {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    border-radius: 3px;
    transition: 0.5s;
    background-color: pink;
    top: 0;
}

.project-content__tab_menu {
    display: flex;
    align-items: center;
    margin: 2% 0 0 4%;
}

.project-content__tabA {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.project-content__tabA span {
    margin-left: 10px;
}

.project-content__tabB {
    display: flex;
    align-items: center;
}

.project-content__tabB span {
    margin-left: 5px;
}

.project-content__list li {
    margin-left: 20px;
}

.project-content__a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.project-content__a:nth-child(2) {
    border-bottom: 2px solid black;
    height: 60px;
}