a {
    text-decoration: none;
}

body,
html {
    height: 130%;
}

.project-content__list {
    list-style-type: none;
    display: flex;
}

.project-content__tabs {
    margin-left: 5%;
    margin-top: 3%;
    display: flex;
}

.project-content__a span {
    margin-left: 6px;
}

.project-content__underline {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    border-radius: 3px;
    transition: 0.5s;
    background-color: pink;
    top: 0;
}

.project-content__tab_menu {
    display: flex;
    align-items: center;
    margin: 2% 0 0 4%;
}

.project-content__tabA {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.project-content__tabA span {
    margin-left: 10px;
}

.project-content__tabB {
    display: flex;
    align-items: center;
}

.project-content__tabB span {
    margin-left: 5px;
}

.project-content__list li {
    margin-left: 20px;
}

.project-content__a {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.project-content__a:nth-child(2) {
    border-bottom: 2px solid black;
    height: 60px;
}

li.is__on {
    margin-left: 20px;
}

.is__on a {
    display: flex;
    align-items: center;
}

.tab_menu .list {
    overflow: hidden;
}

.project-menu {
    list-style: none;
    position: relative;
    display: flex;
    margin-top: 80px;
    margin-left: 7%;
}

.project-menu__cont {
    display: none;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 20px;
}

.project-menu__btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 70px;
}

.project-menu__btn span {
    margin-left: 8px;
}

.project-menu__list {
    margin-left: 5px;
}

.project-menu__cont {
    width: 90%;
}

.is_on .project-menu__cont {
    display: block;
}

.project__pageparent {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 40px;
    bottom: 0;
    left: 43%;
}