.more {
    background-color: #2ecc71;
    border-radius: 4px;
    width: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.13s ease-in-out;
}

.more:nth-child(2) {
    margin-top: 10px;
}

.more:hover {
    background-color: #22a558;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal__box {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    width: 800px;
    height: 470px;
    display: flex;
    justify-content: flex-start;
    padding: 25px;
}

.modal__content {
    display: flex;
    overflow-y: auto;
}

.modal__content::-webkit-scrollbar {
    width: 15px;
}

.modal__content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.modal__content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal__content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.modal__text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 300px;
}

.modal__title {
    margin: 0;
}

.modal__cont {
    height: 100%;
    margin: 10px 0;
}

.modal__text-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__content img {
    width: 380px;
    height: 380px;
}

.modal__developer {
    font-size: 13px;
    font-weight: 600;
}

.modal__close {
    text-align: right;
}

.modal__link i {
    color: black;
}

.hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    .modal__box {
        width: 500px;
    }
    .modal__content img {
        width: 350px;
        height: 450px;
        margin-bottom: 30px;
    }
    .modal__text {
        width: 360px;
        margin: 0;
    }
    .modal__cont {
        margin-bottom: 30px;
    }
    .modal__content {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .modal__box {
        width: 350px;
    }
    .modal__content img {
        width: 250px;
        height: 330px;
    }
    .modal__text {
        width: 250px;
        margin: 0;
    }
}