.project-cardlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.project-cardlist__card {
  background-color: white;
  margin: 30px 25px;
  font-weight: 300;
  padding-bottom: 20px;
  border-radius: 10px;
  color: #adaeb9;
  width: 300px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  overflow: hidden;
}
.project__img {
  width: 100%;
  height: 300px;
}

.project-cardlist__text {
  margin-left: 10px;
  padding: 0 15px;
  height: 140px;
}
.project-cardlist__subtext {
  margin: 20px 0 30px 0;
}
.project-cardlist__subtext span {
  font-size: 18px;
  font-weight: 600;
}
.project-cardlist__subtext p {
  font-size: 13px;
  height: 40px;
}
.project-cardlist__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__user {
  font-size: 15px;
}
.tab-menu__cont {
  display: none;
}

.is_on .tab-menu__cont {
  display: block;
}

@media screen and (max-width: 1200px) {
  .project-cardlist {
    max-width: 720px;
  }
}

@media screen and (max-width: 800px) {
  .project-cardlist {
    max-width: 350px;
  }
}
