 {% load static %}
<img style="position: absolute; top: 0; left: 0; width: 100%; height: 130%; z-index: -999;" src="{% static 'img/triangle.png' %}"> {% include 'base.html' %}
<div class="activity-content">
    <table>
        <thead>
            <tr class="activity-content__tr">
                <th>학번</th>
                <th>이름</th>
                <th>학과</th>
                <th>깃허브주소</th>
                <th>학번</th>
                <th>블로그</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Ipsum</td>
                <td>Dolor</td>
                <td>Dolor</td>
            </tr>
        </tbody>
    </table>
</div>
</img>