.project-create {
    display: flex;
}

.project-create__section form {
    width: 80%;
}

.project-create__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-right: 50px;
}

.project-field {}

.project-create__field {
    margin-top: 30px;
    width: 120%;
}

.project-create__field input {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    height: 51px;
    width: 90%;
}

.project-create__content {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.project-create__section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project-create__button {
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    height: 60px;
    margin-top: 30px;
}

.project-create__section {
    display: flex;
}

.project-create__section div {
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}