#Tab {
  margin-bottom: 100px;
  min-height: 100%;
  padding-bottom: 114px;
  position: relative;
  min-height: 100%;
}

.tab-menu {
  list-style: none;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.tab-menu__list a {
  text-decoration: none;
  color: black;
}

.tab-menu__list {
  margin-right: 5%;
}

.tab-menu__btn {
  font-size: 20px;
  font-weight: bold;
}

.tab-menu__cont {
  display: none;
  width: 60%;
  position: absolute;
  top: 120px;
  left: 20%;
}

.is_on .tab-menu__btn {
  border-bottom: 5px solid #7879f1;
}

.is_on .tab-menu__cont {
  display: block;
}
