.attend__wrap {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
=======
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
>>>>>>> 5db9276fa09d85a396bdfb8ede9a40eddfe5b4e6
}

.attend__dropdown {
    position: absolute;
    left: 5%;
}

table {
<<<<<<< HEAD
  background: white;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
=======
    background: white;
    margin-top: 40px;
    width: 90%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
>>>>>>> 5db9276fa09d85a396bdfb8ede9a40eddfe5b4e6
}

thead {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

th,
td {
<<<<<<< HEAD
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 15px;
  text-align: center;
=======
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    font-size: 15px;
>>>>>>> 5db9276fa09d85a396bdfb8ede9a40eddfe5b4e6
}

th:first-child {
    width: 10%;
}

th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 30%;
}

th:nth-child(4) {
    width: 20%;
}

th:nth-child(5) {
    width: 5%;
}

th:last-child {
    width: 5%;
}

tr:nth-child(2n) {
<<<<<<< HEAD
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1000px) {
  .tab-menu__cont {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .tab-menu__cont {
    width: 86%;
    left: 7%;
  }
}
=======
    background-color: rgba(0, 0, 0, 0.05);
}
>>>>>>> 5db9276fa09d85a396bdfb8ede9a40eddfe5b4e6
