<head>
  <link rel="stylesheet" href="../../static/css/notices/notice-detail.css" />
  <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
</head>
<body id="notice-detail-page">
  <main class="notice-detail">
    <div class="notice-detail__title">에니악 홍보 포스터</div>
    <div class="notice-detail__info">
        <div class="notice__tags">
            <div class="notice__tag">
                <div>태그</div>
            </div>
            <div class="notice__tag">
                <div>태그2</div>
            </div>
        </div>
        <div class="info__right">
            <div class="notice-detail__user">이상희</div>
            <div class="notice-detail__update">2022-02-26 14:32</div>
         </div>
      </div>
    <div class="notice-detail__content">
        
      <img src="../../static/img/IMG_1454.png" alt="" />
      <div class="notice-detail__text">
          2022학년도 에니악 홍보 포스터입니다. 많은 관심과 홍보 부탁드립니다.</br>
          올해 에니악 활동은 4월 초부터 시작할 예정입니다. 활동 못하시는 분은 개인적으로 연락 부탁드립니다.
      </div>
    </div>
  
   
  </main>
</body>
