<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/notices/notice-content.css' %}" />
    <title>Eniac - Activity</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
</head>

<body>
    <div class="notice-parent">
        <img style="
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 150%;
          z-index: -999;
        " src="{% static 'img/triangle.png' %}" />{% include 'base.html' %}
        <div class="notice-content">
            <div class="notice-content__title">공지사항</div>

            {% for notices in notice.object_list %}

            <div class="notice-content__card">
                <div class="notice-content__img">
                    <img src="{{notices.get_photo_url}}" style="width: 200px; height: 190px" alt="" />
                </div>
                <div class="notice-content__text">
                    <div>
                        <div class="notice-content__card-title">
                            {{notices.title| truncatechars:20}}
                        </div>
                        <div class="notice-content__card-desc">
                            {{notices.desc| truncatechars:80}}
                        </div>
                    </div>
                    <!-- {% for tag in notice.object_list.tags.all %} -->

                    <!-- {% endfor %} -->
                    <div class="notice-content__tag">
                        <div>{{notices.tag.all| join:", "}}</div>
                    </div>
                </div>
            </div>

            <div class="notice-content__border">
                <div></div>
            </div>
            {% endfor %}
        </div>
        <div class="project-page">
            {% if notice.has_previous %}
            <a class="project-page__a" href="?page={{notice.previous_pre_number}}">
                <i style="margin-right: 10px" class="fas fa-chevron-left fa-lg"></i>
            </a>
            {% endif %}
            <span> {{notice.number}} of {{notice.paginator.num_pages}}</span> {% if notice.has_next %}
            <a class="project-page__a" href="?page={{notice.next_page_number}}">
                <i style="margin-left: 10px" class="fas fa-chevron-right fa-lg"></i>
            </a>
            {% endif %}
        </div>
        {% include 'partials/footer.html' %}
    </div>
    <script type="text/javascript" src="{% static 'js/act-tab.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/act-tog.js' %}"></script>
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
</body>

</html>