<head>
  <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
  <link rel="stylesheet" href="../../static/css/notices/notice-create.css" />
</head>
<body id="notice-create-page">
  <main>
    <div class="notice-create__title">📌 공지사항 수정</div>
    <form class="notice-create">
      <div class="notice-create-wrap">
        <label for="notice-create__title">제목:</label>
        <input
          id="notice-create__title"
          type="text"
          required
          placeholder="제목"
        />
      </div>
      <div class="notice-create-wrap">
        <label for="notice-create__img">이미지 첨부:</label>
        <input id="notice-create__img" type="file" accept=".png" />
      </div>
      <div class="notice-create-wrap">
        <label for="notice-create__file">자료 첨부:</label>
        <input id="notice-create__file" type="file" />
      </div>
      <textarea
        id="notice-create__text"
        type="text"
        required
        placeholder="내용을 입력하시오."
      ></textarea>
      <div class="notice-create-btn">
        <button>수정</button>
        <button>삭제</button>
      </div>
    </form>
  </main>
</body>
