<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <span class="text-red-700 font-medium text-sm">{{error}}</span> {% endfor %} {% endif %}
    <div class="project-field">
        {% for field in form %} {% include 'mixins/project/project_input.html' with field=field %} {% endfor %}
    </div>
    <div class="project-create__section">
        <button class="project-create__button">{{cta}}</button>
    </div>
</form>