<head>
    <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
    <link rel="stylesheet" href="../../static/css/components/create-page.css" />
    <link rel="stylesheet" href="../../static/css/components/button.css" />
    <link rel="stylesheet" href="../../static/css/components/dropdown.css" />
    <link rel="stylesheet" href="../../static/css/recommends/recom-create.css" />
</head>

<body class="create-page">
    <main>
        <div class="create__title">👍 추천 작성</div>
        {% include 'mixins/recommend/recom_form.html' %}
    </main>
    <script src="../../static/js/dropdown.js"></script>
</body>