@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
.footer {
  background-color: #2f2f2f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.footer__img {
  width: 50%;
  text-align: center;
}

.footer__text {
  width: 50%;
  text-align: center;
  color: white;
  margin-left: 60px;
  font-size: 15px;
}

.footer__per div {
  margin: 15px 0;
}

@media screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    padding: 100px 50px;
  }
  .footer__img {
    width: 100%;
  }
  .footer__text {
    width: 100%;
    margin: 15px 0;
  }
}
