body {
    margin: 0;
}

.status-bar {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border: none;
}

.status-bar__column {
    width: 70%;
}

.status-bar__column div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.status-bar__circle {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    margin-top: 23px;
}

a {
    color: black;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column div {
    margin-left: 90px;
}

.status-bar__signup {
    border-radius: 20px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__circle {
    display: none;
}

.status-bar__list .is_on {
    display: block;
}


/* 클리갛면 a태그 display noen으로 클릭안하면 block */