body {
    margin: 0;
}

.status-bar {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border: none;
}

.status-bar__column {
    width: 70%;
}

.status-bar__column div:nth-child(-n + 3) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.status-bar__column div:nth-child(4) {
    display: flex;
}

.status-bar__column .status-bar__icon {
    display: none;
    position: absolute;
}

.status-bar__circle {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
    margin-top: 23px;
}

a {
    color: black;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__signup {
    border-radius: 20px;
    color: white;
    width: 100px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__circle {
    display: none;
}

.status-bar__list .is_on {
    display: block;
}

.status-bar__profile {
    display: flex;
    flex-direction: column;
}

.status-bar__i {
    display: flex;
    align-items: center;
    width: 170px;
}

.stauts-bar__profile-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
}

.status-bar__single-menu {
    width: 153px;
    height: 30px;
    background: #ffffff;
    /* Stroke */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.status-bar__single-menu:hover {
    background-color: black;
    color: white;
}

.status-bar__single-menu>a:hover {
    background-color: black;
    color: white;
}


/* 클리갛면 a태그 display noen으로 클릭안하면 block */

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .status-bar__column:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
    }
    .home-wotd__wrapper {
        width: 1280px;
        padding: 0 0px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .status-bar__column:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
    }
    .status-bar__column:last-child div {
        display: none;
    }
    .status-bar__column .status-bar__icon {
        display: block;
    }
}


/* 1300밑으로 내려가면  */