<!DOCTYPE html>
<html lang="en">



<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eniac - Activity</title>
    <link rel="stylesheet" href="{% static 'css/activities/activity.css' %}" />
    <link rel="stylesheet" href="{% static 'css/activities/act-tab.css' %}" />
    <link rel="stylesheet" href="{% static 'css/activities/act-cont.css' %}" />
    <link rel="stylesheet" href="{% static 'css/activities/attend.css' %}" />
    <link rel="stylesheet" href="{% static 'css/activities/dropdown.css' %}" />
</head>


<div class="activity">
    {% load static %}
    <!-- Tab -->
    {% include 'base.html' %}
    <div id="Tab">
        <ul class="tab-menu">
            <li class="tab-menu__list is_on">
                <a href="#tab1" class="tab-menu__btn">활동</a>
                <div id="tab1" id="activity" class="tab-menu__cont">
                    <main class="activity-main__wrap">
                        <div class="activity-main">
                            <section class="activity__cont-wrap">
                                <div class="dropdown">
                                    <button type="button" class="dropdown-toggle">
                                  학기
                                </button>

                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <button type="button" value="1" class="dropdown-option">
                                      22년도 1학기
                                    </button>
                                        </li>
                                        <li class="dropdown-item">
                                            <button type="button" value="2" class="dropdown-option">
                                      22년도 2학기
                                    </button>
                                        </li>
                                        <li class="dropdown-item">
                                            <button type="button" value="3" class="dropdown-option">
                                      23년도 1학기
                                    </button>
                                        </li>
                                    </ul>
                                </div> {% for activity in act.object_list %}
                                <section class="activity-cont">
                                    <h1 class="activity__title">{{activity.title}}</h1>
                                    <img src="{{activity.get_photo_url}}" style="" class="activity__img" />
                                    <p class="activity__content">
                                        {{activity.desc}}
                                    </p>
                                    <p class="activity__content">
                                        {{activity.created}}
                                    </p>
                                    <p class="activity__content">
                                        {{activity.user}}
                                    </p>

                                    <div>
                                        <a class="activity__comment-tog">댓글 <i class="fas fa-chevron-down"></i></a>

                                        <form class="activity__comment" action="{% url 'activity:comments_new' activity.pk%}" method="POST">
                                            {% for abc in comment %}
                                            <li class="activity__comment-list ">
                                                <span class="activity__comment-name ">{{abc.user}}</span>
                                                <span class="ctivity__comment-cont ">{{abc.desc}}</span>
                                            </li>
                                            {% endfor %} {% csrf_token %} {% for field in comment_form %}{{field}}{% endfor %}
                                            <input class="activity__submit" type="submit">
                                        </form>



                                    </div>
                                    <!-- 글 작성자만 수정버튼 보이도록 -->
                                    {% if activity.user == user %}
                                    <a href="{% url 'activity:edit' activity.pk %} ">
                                        <div class="edit-button notice-edit-btn ">
                                            <button>수정</button>
                                        </div>
                                    </a>
                                    {% endif %}
                                </section>
                                {% endfor %}
                                <div class="btn-component goto-create__btn ">
                                    <a href="{% url 'activity:createAct' %} ">활동 작성</a>
                                </div>
                                <!-- 페이지 -->
                                <div class="activity__pageparent ">
                                    <div class="activity-page ">

                                        {% if act.has_previous %}
                                        <a class="activity-page__a " href="?page={{act.previous_pre_number}} ">
                                            <i style="margin-right: 10px; " class="fas fa-chevron-left "></i>
                                        </a>
                                        {% endif %}

                                        <span> {{act.number}} of {{act.paginator.num_pages}}</span> {% if act.has_next %}
                                        <a class="activity-page__a " href="?page={{act.next_page_number}} ">
                                            <i style="margin-left: 10px; " class="fas fa-chevron-right "></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                    </main>
                    {% include 'partials/footer.html' %}
                    </div>
            </li>
            <li class="tab-menu__list ">
                <a href="#tab2 " class="tab-menu__btn ">명단</a>
                <div id="tab2 " id="attendence " class="tab-menu__cont ">
                    <main class="activity-main__wrap ">
                        <div class="activity-main ">

                            <div class="attend__wrap ">

                                <table>
                                    <thead>
                                        <tr>
                                            <th>이름</th>
                                            <th>기수</th>
                                            <th>학과</th>
                                            <th>분야</th>
                                            <th>Github</th>
                                            <th>Blog</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for users in potato.object_list %}
                                        <tr>
                                            <td>{{users.username}}</td>
                                            <td>{{users.entered_eniac}}</td>
                                            <td>{{users.major}}</td>
                                            <td>{{users.fav_pro_genre}}</td>
                                            <td><a href="{{users.git_url}} " class="attend__git "><i class="fab fa-github-square "></i></a></td>
                                            <td><a href="# " class="attend__blog "><i class="fas fa-book "></i></a></td>
                                        </tr>
                                        {% endfor %}

                                        <tr>
                                            <td>힘길동</td>
                                            <td>32기</td>
                                            <td>컴퓨터소프트웨어공학과</td>
                                            <td>App</td>
                                            <td><a href="# " class="attend__git "><i class="fab fa-github-square "></i></a></td>
                                            <td><a href="# " class="attend__blog "><i class="fas fa-book "></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>길동동</td>
                                            <td>30기</td>
                                            <td>컴퓨터소프트웨어공학과</td>
                                            <td>클라우드</td>
                                            <td><a href="# " class="attend__git "><i class="fab fa-github-square "></i></a></td>
                                            <td><a href="# " class="attend__blog "><i class="fas fa-book "></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>동동길</td>
                                            <td>31기</td>
                                            <td>컴퓨터소프트웨어공학과</td>
                                            <td>Web</td>
                                            <td><a href="# " class="attend__git "><i class="fab fa-github-square "></i></a></td>
                                            <td><a href="# " class="attend__blog "><i class="fas fa-book "></i></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </main>
                    {% include 'partials/footer.html' %}
                </div>

            </li>
            <li class="tab-menu__list ">
                <a href="#tab3 " class="tab-menu__btn ">챌린지</a>
                <div id="tab3 " id="challge " class="tab-menu__cont challenge ">
                    <main class="activity-main__wrap ">
                        <div class="activity-main ">


                            {% for challenge in chall.object_list %}
                            <div class="challenge-content ">
                                <div class="challenge__title ">{{challenge.users}}</div>
                                <p class="challenge__desc ">
                                    {{challenge.desc}}
                                </p>
                                <p class="challenge__date ">
                                    {{challenge.created}}
                                </p>
                                <div class="activity__comment-tog ">댓글<i class="fas fa-chevron-down "></i></div>
                                <ul class="activity__comment ">
                                    <div class="activity__comment-input ">
                                        <input type="text " placeholder="댓글을 입력하시오... " />
                                        <button>입력</button>
                                    </div>
                                    <li class="activity__comment-list ">
                                        <span class="activity__comment-name ">이상희</span>
                                        <span class="activity__comment-cont ">알겠습니다. 다음 회의 때는 반영할게요.</span>
                                    </li>
                                    <li class="activity__comment-list ">
                                        <span class="activity__comment-name ">윤동규</span>
                                        <span class="activity__comment-cont ">네 알겠습니다~</span>
                                    </li>
                                    <li class="activity__comment-list ">
                                        <span class="activity__comment-name ">홍길동</span>
                                        <span class="activity__comment-cont ">이런거 이런거도 수정하면 좋을 것 같습니다</span>
                                    </li>
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </main>
                    {% include 'partials/footer.html' %}
                </div>
            </li>
        </ul>

        </div>


        <script type="text/javascript " src="{% static 'js/act-tab.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/act-tog.js' %} "></script>
        <script type="text/javascript " src="{% static 'js/dropdown.js' %} "></script>

    </div>

</html>