{% load static %} {% include 'base.html' %}
<body id="home-page">
  <section class="home">
    <div class="home__wrap home__wrap--left">
      <div class="home__hello">
        <div>"Hello</div>
        <div>Eniac"</div>
      </div>
    </div>
    <div class="home__wrap home__wrap--right">
      <span class="home__desc">중앙동아리 학술분과</br>
      컴퓨터•소프트웨어공학과 과 동아리</span>
      <div class="home__link-wrap">
        <div class="home__link">
          <a href="https://open.kakao.com/o/seBezZ2d" class="link__icon">
            <i class="fas fa-solid fa-comment"></i>
          </a>
          <div class="link__title">Contact</div>
        </div>
        <div class="home__link">
          <a href="https://www.facebook.com/groups/wku.eniac" class="link__icon">
            <i class="fab fa-brands fa-facebook"></i>
          </a>
          <div href="" class="link__title">Facebook</div>
        </div>
        <div class="home__link">
          <a href="https://eniac.goorm.io/" class="link__icon">
            <i class="fas fa-solid fa-cloud"></i>
          </a>
          <div class="link__title">Goorm</div>
        <div>
      </div>
      
    </div>

  </section>

  {% include 'partials/footer.html' %}
</body>
