{% load static %}
<img style="position: absolute; top: 0; left: 0; width: 100%; height: 140%; z-index: -999;" src="{% static 'img/triangle.png' %}">
<div class="home-topbox">


    <section class="home-wotd">
        {% include 'base.html' %}
        <div class="home-wotd__wrapper">
            <div class="home-wotd__inside">
                <div>"Hello<br /><span style="margin-left: 80px">Eniac"</span></div>
                <br />
                <span>
          에니악 홈페이지에 오신걸 환영합니다 <br />
          저희는 프로젝트 활동 중심 동아리이며,<br />
          동아리 회원분들의 개발자로서의 성장을 목표로 두고있는 동아리입니다
        </span>
                <a href="{% url 'user:login' %}">
                    <span class="home-wotd__button">Get Started</span>
                </a>
            </div>
            <div class="home-wotd__photoside">
                <div>
                    <img src="{% static 'img/coding.png' %}" alt="" />
                </div>
                <br />
                <div class="home-wotd__developer">개발자 윤동규 이상희</div>
            </div>
        </div>
    </section>
    <section class="home-cardlist">
        {% for project in potato %}
        <div class="home-cardlist__card">
            <div class="home-cardlist__text">
                <div class="home-cardlist__subtext">
                    <h1>{{project.title | truncatechars:20}}</h1>
                    <h3>{{project.desc | truncatechars:80}}</h3>
                    <span>{{project.user}}</span>
                </div>
                <button>자세히보기</button>
            </div>
            <div>
                <img style="margin-left: 100px; width: 470px; height: 360px; background-size: cover; background-position: center;" src="{{project.get_photo_url}}"></img>
            </div>
        </div>
        {% endfor %} {% for project in second %}
        <div class="home-cardlist__card">
            <div>
                <img style="margin-right: 100px; width: 470px; height: 360px; background-size: cover; background-position: center;" src="{{project.get_photo_url}}"></img>
            </div>
            <div class="home-cardlist__text ">
                <div class="home-cardlist__subtext">
                    <h1>{{project.title | truncatechars:20}}</h1>
                    <h3>{{project.desc | truncatechars:80}}</h3>
                    <span>{{project.user}}</span>
                </div>
                <button>자세히보기</button>
            </div>

        </div>
        {% endfor %}
    </section>
    {% include 'partials/footer.html' %}

</div>

<img/>