{% include 'base.html' %} {% load static %}
<div class="login-content">
    <div class="login-content__img">
        <!-- <img style="width: 70%; height: 900px" src="{% static 'img/login-img.jpg' %}" alt="" /> -->
    </div>
    <div class="login-content__form">
        <h1>Enter Eniac</h1>
        <div class="login-content__inputlist">
            <div class="login-content__input">
                <label for="name">이름</label>
                <input type="text" name="" id="" placeholder="Enter your first name" />
            </div>
            <div class="login-content__input">
                <label for="name">학과</label>
                <input type="text" name="" id="" placeholder="Enter your major" />
            </div>
            <div class="login-content__input">
                <label for="name">깃허브 주소</label>
                <input type="text" name="" id="" placeholder="Enter your Git url" />
            </div>
            <div class="login-content__input">
                <label for="name">에니악 코드</label>
                <input type="text" name="" id="" placeholder="Enter your Code" />
            </div>
            <div class="login-content__input">
                <label for="name">좋아하는 분야</label>
                <select type="button">
          <option value="xx">분야선택</option>
          <option value="0">웹</option>
          <option value="1">앱</option>
          <option value="2">인공지능</option>
          <option value="3">예체능</option>
        </select>
            </div>
            <div class="login-content__input">
                <label for="name">각오</label>
                <input type="text" name="" id="" />
            </div>
        </div>
    </div>
</div>