 {% load static %}
<img style="position: absolute; top: 0; left: 0; width: 100%; height: 130%; z-index: -999;" src="{% static 'img/triangle.png' %}"> {% include 'base.html' %}
<div class="login-content">
    <div class="login-content__img">
        <img style="width: 100%; height: 900px" src="{% static 'img/login-img.jpg' %}" alt="" />
    </div>
    <div class="login-content__form">
        <h1>Login Eniac</h1>
        <div class="login-content__inputlist">
            <form method="POST" action="{% url 'user:login'%}">
                {% csrf_token %}
                <div class="login-content__input ">
                    <label for="name">이메일</label> {{form.email}}
                </div>
                <div class="login-content__input ">
                    <label for="name ">비밀번호</label> {{form.password}}
                </div>
                <div class="login-content__input ">
                    <button type="submit ">제출</button>
                </div>
            </form>
        </div>
        <div class="login-content__signup">
            <span class="">계정이 없으십니까?</span>
            <a class="" href="{% url 'user:signup'%}">회원가입</a>
        </div>
    </div>
</div>
</div>
</img>