<body id="login-page">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/login-content.css' %}" /> {% include 'base.html' %}
    <div class="login">
        <div class="login-content">
            <img class="login-content__img" src="{% static 'img/login-img.jpg' %}" alt="" />
            <div class="login-content__form">
                <h1>Login Eniac</h1>
                <div>이메일로 폼이 발송되었습니다</div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html' %}
</body>