<head>
    <link rel="stylesheet" href="../../static/css/components/status-bar.css" />
    <link rel="stylesheet" href="../../static/css/components/create-page.css" />
    <link rel="stylesheet" href="../../static/css/components/button.css" />
    <link rel="stylesheet" href="../../static/css/users/password-find.css" />
</head>

<body id="password-find-page">
    <div class="password-find">
        <div class="password-find-content__form">
            <h1 class="password-find__title">Find password</h1>
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <input type="submit" value="다음" />
            </form>
        </div>
    </div>
</body>