<body id="profile-page">
  {% include "base.html" %} {% load static %} {% block content %}

  <div class="profile">
    <img src="" alt="" class="profile-img" />
    <div class="profile__content">
      <div class="profile-left">
        <div>이름: {{user_obj.username}}</div>
        <div>학과: {{user_obj.major}}</div>
        <div>학번:</div>
        <div>기수: {{user_obj.entered_eniac}}</div>
        <div>이메일: {{user_obj.email}}</div>
        <div>전화번호:</div>
      </div>
      <div class="profile-right">
        <div>관심분야: {{user_obj.fav_pro_genre}}</div>
        <div>Github 주소:{{user_obj.git_url}}</div>
        <div>블로그 주소:</div>
      </div>
    </div>
    <div class="profile__btn">
      <button class="profile__fix">프로필 편집</button>
      <button class="profile__password">비밀번호 변경</button>
    </div>
  </div>
  {% endblock content %}
</body>
