<body id="profile-page">
  {% include "base.html" %} {% load static %} {% block content %}

  <div class="profile">
    <img src="../../static/img/user.png" alt="" class="profile-img" />
    <div class="profile__content">
      <div class="profile-left">
        <div class="profile__info">
          이름: <span>{{user_obj.username}}</span>
        </div>
        <div class="profile__info">학과: <span>{{user_obj.major}}</span></div>
        <div class="profile__info">학번:<span>20211234</span></div>
        <div class="profile__info">
          기수: <span>{{user_obj.entered_eniac}}</span>
        </div>
        <div class="profile__info">이메일: <span>{{user_obj.email}}</span></div>
        <div class="profile__info">전화번호:<span>01012345678</span></div>
      </div>
      <div class="profile-right">
        <div class="profile__info">
          관심분야: <span>{{user_obj.fav_pro_genre}}</span>
        </div>
        <div class="profile__info profile__info-long">
          Github 주소:<br /><span
            >https://www.google.com/?&bih=722&biw=1519&hl=ko{{user_obj.git_url}}</span
          >
        </div>
        <div class="profile__info profile__info-long">
          블로그 주소:<br /><span
            >https://www.google.com/?&bih=722&biw=1519&hl=ko</span
          >
        </div>
        <div class="profile__btn">
          <button class="profile__fix">프로필 편집</button>
          <button class="profile__password">비밀번호 변경</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %} {% include 'partials/footer.html' %}
</body>
